.chat-container {
    max-width: 1080px;
    width: 50%;
    height: 300px;
    padding: 15px;
    background-color: antiquewhite;
    border-color: black;
    border-width: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-bottom: 20px;
    overflow-y: auto;
}

.message {
    margin-bottom: 20px;
}

#chat-form {
    display: flex;
    justify-content: center;
}

#user-input {
    width: 40%;
    height: 30px;
}