<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/media.css">
    <title>Ege - Blog</title>
    <style>
        div.main {
            width: 98%;
            margin: auto;
        }
        p {
            font-size: 17px;
            text-align: justify;
        }
        li {
            font-size: 17px;
        }
        h3, h4 {
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="main">
        <header>
            <h1 style="text-align: center">The Thrill of Basketball: A Sport that Soars Above</h1>
        </header>
        <section>
            <div style="display: flex; justify-content: center;">
                <img src="../../img/basketball.jpg" alt="Basketball" width="500px">
            </div>
            <p>
                Basketball, a sport that ignites passion and excitement, has captured the hearts of millions worldwide. From the thumping dribbles to the exhilarating slam dunks, basketball is more than just a game—it's an experience that transcends boundaries and unites communities.
            </p>
            <h3>
                The Essence of Basketball
            </h3>
            <p>
                Basketball is a fast-paced team sport played on a rectangular court, where two teams compete to score points by shooting a ball through the opponent's hoop. With its roots deeply embedded in American culture, basketball has evolved into a global phenomenon, captivating audiences with its blend of athleticism, skill, and strategy.
            </p>
            <h4>
                Why Basketball Holds a Special Place
            </h4>
            <ol type="1">
                <li>Unrivaled Energy and Excitement</li>
                <li>Embracing Diversity and Inclusion</li>
                <li>Character Building and Camaraderie</li>
                <li>Physical and Mental Fitness</li>
                <li>Global Appeal and Influence</li>
            </ol>
        </section>
    </div>
</body>
</html>
