<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}">
    <title>Ege - Blog</title>
    <style>
        div.main {
            width: 98%;
            margin: auto;
        }
        p {
            font-size: 17px;
            text-align: justify;
        }
        li {
            font-size: 17px;
        }
        h3, h4 {
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="main">
        <header>
            <h1 style="text-align: center">Calisthenics: The Art of Bodyweight Training</h1>
        </header>
        <section>
            <div style="display: flex; justify-content: center;">
                <img src="{% static 'img/cali1.jpg' %}" alt="Calisthenics" width="500px">
            </div>
            <p>
                Calisthenics, derived from the Greek words "kallos" (beauty) and "sthenos" (strength), is a form of exercise that utilizes the body's weight for resistance. This versatile and accessible form of fitness has surged in popularity due to its simplicity and effectiveness. It requires minimal equipment, making it an ideal workout regimen for people of all fitness levels and lifestyles.
            </p>
            <h3>
                The Basics of Calisthenics
            </h3>
            <p>
                Calisthenics exercises include movements such as push-ups, pull-ups, squats, lunges, and dips. These exercises can be performed almost anywhere, from a living room to a park, requiring little more than a sturdy bar or a flat surface. The primary goal is to improve strength, flexibility, endurance, and coordination through natural body movements.
            </p>
            <h4>
                Benefits of Calisthenics
            </h4>
            <ol type="1">
                <li>Builds functional strength</li>
                <li>Improves Flexibility and Balance</li>
                <li>Enhances Cardiovascular Health</li>
                <li>Supports Weight Management</li>
                <li>Accessible and Cost-Effective</li>
            </ol>
        </section>
    </div>
</body>
</html>
