<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/media.css">
    <title>Ege - Blog</title>
    <style>
        div.main {
            width: 98%;
            margin: auto;
        }
        p {
            font-size: 17px;
            text-align: justify;
        }
        li {
            font-size: 17px;
        }
        h3, h4 {
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="main">
        <header>
            <h1 style="text-align: center">Swimming: Dive Into the Refreshing Waters of Fitness</h1>
        </header>
        <section>
            <div style="display: flex; justify-content: center;">
                <img src="../../img/swimming.jpg" alt="Swimming" width="500px">
            </div>
            <p>
                Swimming, a timeless activity cherished by many, offers not only a reprieve from the scorching heat but also a gateway to unparalleled physical and mental well-being. Whether gliding through serene waters or racing against the clock, swimming is a versatile pursuit that caters to all ages and abilities.
            </p>
            <h3>
                The Joys of Swimming
            </h3>
            <p>
                Swimming involves propelling oneself through water using various strokes such as freestyle, breaststroke, backstroke, and butterfly. Beyond its recreational allure, swimming serves as a full-body workout that engages muscles, improves cardiovascular health, and enhances overall endurance.
            </p>
            <h4>
                Reasons to Embrace Swimming
            </h4>
            <ol type="1">
                <li>Low-Impact, High-Intensity Exercise</li>
                <li>Stress Relief and Mental Clarity</li>
                <li>Accessible and Inclusive Activity</li>
                <li>Enhanced Flexibility and Coordination</li>
                <li>Community and Competitive Opportunities</li>
            </ol>
        </section>
    </div>
</body>
</html>
