<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}">
    <script src="{% static 'js/form.js'%}"></script>
    <title>Ege - Blog</title>
    <style>
        hr {
        border-color: black;
        }
    </style>
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="{% url 'home' %}">Main Page</a></li>
            <li><a href="{% url 'about' %}">About me</a></li>
            <li><a href="{% url 'hobbies' %}">Hobbies</a></li>
            <li><a href="{% url 'contact' %}" class="active">Reach me</a></li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
            <li><a href="{% url 'posts' %}">Posts</a></li>
        </ul>
    </nav>
    <div class="main">
        <header>
            <h1 style="text-align: center" id="welcome">Welcome to my blog!</h1>
            <h3>Reach me!</h3>
        </header>
        {% block content %}
        <div style="display: flex; justify-content: center">
            <section style="border: 1px solid black; padding: 20px;">
                <p>You can reach me by filling the form below!</p>
                <hr>
                <form method="POST" onsubmit="validateForm()">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" style="width: 100%;">Submit</button>
                    </form>
            </section>
        </div>
        {% endblock %}
        <footer>
            <p style="text-align: center;"> © Copyright 2023-2024. </p>
        </footer>
    </div>
</body>
</html>