<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}">
    <title>Ege - Blog</title>
    <style>
        div.all_articles {
            width: 50%;
            margin: auto;
        }
        
        article.container {
            border: 1px solid black;
            padding: 20px;
        }
    </style>
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="{% url 'home' %}">Main Page</a></li>
            <li><a href="{% url 'about' %}">About me</a></li>
            <li><a href="{% url 'hobbies' %}">Hobbies</a></li>
            <li><a href="{% url 'contact' %}">Reach me</a></li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
            <li><a href="{% url 'posts' %}" class="active">Posts</a></li>
        </ul>
    </nav>
    <div class="main">
        <header>
            
        </header>
        {% block content %}
        <section>
            <h1> All Articles </h1>
            <div class="all_articles">
                {% for post in posts %}
                <article class="container">
                    <h2 class="title">{{ post.title }}</h2>
                    <p id="post_date">Posted on {{ post.post_date }}</p>
                    <img src="{{ post.image.url }}" alt="post_image" class="post_image" style="width: 100%;">
                    <p>{{ post.paragraph }}</p>
                </article>
            {% endfor %}
            </div>
            
        </section>
        {% endblock %}
        <footer>
            <hr>
            <p class="copyright" style="text-align: end;"> © Copyright 2023-2024. </p>
        </footer>
    </div>
</body>
</html>